{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
    
{% load static %}

<html>
<head>
	<style type="text/css">
		body{
		background-repeat: no-repeat;
		background-size: 1366px 663px;
		background-position: top;
		background-attachment: fixed;
		background-image: url('{% static "home1.jpg" %}');
		}
	</style>
</head>

<body>


<h4>Login<h4>
<div class="form-group">
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}			
		<button class="btn btn-secondary">Login</button>
</div>

</body>
{% endblock %}