{% extends 'base.html' %}
{% block title %} {{ post.title_tag }} {% endblock %}
    {% block content %}


{% load static %}

<html>
<head>
	<style type="text/css">
		body{
		background-repeat: no-repeat;
		background-size: 1366px 663px;
		background-position: top;
		background-attachment: fixed;
		background-image: url('{% static "pic1.jpg" %}');
		}
	</style>
</head>

<body>


<h1>{{ post.title }}</h1>
<small>By: 
	{{ post.author.first_name }} 
	{{ post.author.last_name }} - 
	{{ post.post_date }} -

	{% if user.is_authenticated %}
		{% if user.id == post.author.id %}

			<a href="{% url 'update_post' post.pk %}">(Edit)</a> - 
			<a href="{% url 'delete_post' post.pk %}">(Delete)</a> <br/>
			</small><br/>
		{% endif %}
	{% endif %}

<hr>
<br/>
{{ post.body }}

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

</body>

	{% endblock %}